<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxcqrriY0X0VxxED63FGq8MO6NRlynr0E</string>
	<key>GCM_SENDER_ID</key>
	<string>350256755646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Alex.Calculator</string>
	<key>PROJECT_ID</key>
	<string>calculator2-932dd</string>
	<key>STORAGE_BUCKET</key>
	<string>calculator2-932dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350256755646:ios:d4f75a925ea8d76984ffef</string>
</dict>
</plist>